html {
    background: #000000;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    color: #ffff00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #000000;
    border-color: #bf00ff;
    border-radius: 100px;
    padding: 8px 20px;
    font-size: 1.25em;
}