<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Nova Flask Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome! This is a test by Novaliyn!</h1>
        <p>Trying out HTML and CSS using flask, i want to build on this to actualy code!</p>
        <p>Learn about <a href="https://en.pronouns.page/novaliyn">Nova!</a></p>
    </div>
</body>
</html>